<!DOCTYPE html>
<html>
<head>
	<title>About</title>
	<link rel="icon" href="/img/weather.png">
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
	<div class="main-content">
		{{>header}}
		<img class="portrait" src="/img/me.png">
		<p>Hi there, thank you for having a look at my project. I am an undergradute student at the Indian Institute of Information Technology, Dharwad majoring in Computer Science.</p>
		<p>I have done this project so as to get an in depth understanding of how the backend of a website is handled. This project also helped me understand how to interact with an API.</p>
	</div>
	{{>footer}}
</body>
</html>