body {
	background: #161824;
	color: #a9acc0;
	font-family: Arial;
	max-width: 650px;
	margin: 0 auto;
	padding: 0 16px;

	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.main-content {
	flex-grow: 1;
}

footer {
	color: #a9acc0;
	border-top: 1px solid #eeeeee;
	margin-top: 16px;
	padding: 16px 0;
}

header {
	margin-top: 16px;
	margin-bottom: 48px;
}

h1 {
	letter-spacing: 5px;
	font-size: 64px;
	margin-bottom: 16px;
}

header a {
	color: #a9acc0;
	margin-right: 16px;
	text-decoration: none;
}

.portrait {
	width: 500px;
}

p {
	font-size: 16px;
}

input {
	font-size: 16px;
	/*margin-top: 50px;*/
	margin-right: 16px;
	border: none;
	border-radius: 35px;
	outline: none;
	padding: 16px;
	box-shadow: 8px 8px 10px #12131c, -8px -8px 10px #1c1e2c;
}

button {
	/*display: grid;*/
	/*place-items: center;*/
	outline: none;
	cursor: pointer;
	font-size: 16px;
	border: none;
	border-radius: 35px;
	background: #161824;
	box-shadow: 8px 8px 10px #12131c, -8px -8px 10px #1c1e2c;
	color: #a9acc0;
	padding: 16px 40px;
	letter-spacing: 1.2px;
	transition: all 0.25s ease-in-out;
}

button:hover {
	transform: scale(0.97);
	font-size: 19px;
	background: linear-gradient(
		to bottom right,
		#0b0d17,
		#212333);
}

/*button:focus::before {
	content: "";
	position: absolute;
	width: 130px;
	height: 60px;
	border: solid 1px #15141b;
	border-radius: 200px;
	box-shadow: 8px 8px 10px #12131c, -8px -8px 10px #1c1e2c, inset 8px 8px 10px #12131c, inset -8px -8px 10px #1c1e2c;
	transition: all 0.25s ease-in-out;
	animation: wave 1s forwards ease-out;
}

button:focus {
	transform: scale(0.97);
	font-size: 19px;
	color: #898da5;
	box-shadow: 8px 8px 10px #12131c, -8px -8px 10px #1c1e2c, inset 8px 8px 10px #12131c, inset -8px -8px 10px #1c1e2c;
	transition: all 0.25 ease-in-out
}

@keyframes wave {
	from {
		transform: scale(1.2);
		opacity: 0.6;
		filter: blur(0.2px);
	}
	to {
		transform: scale(2);
		opacity: 0;
		filter: blur(2px);
	}
}*/